<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
<style>

 .tableContent img {
   border: 0 !important;
   outline: none !important;
 }
 .foot{color:#000;font-size:14px;background-color:#eee;margin: 0;padding: 10px;}
 .btn{background-color: #f03a1c;color: #fff; padding: 8px; border: none; margin:20px 0;cursor:pointer;font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;}
 .info{color: #000; font-size: 16px;padding: 10px;}
</style>
</head>
<body style="font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; background-color:#fff; margin:0; padding:0; color:#fff;">
<table width="100%" bgcolor="#b6b6b6" cellpadding="0" cellspacing="0" border="0" class="tableContent bgBody">
<style>
.ii a[href] {  color: #fff !important;}
.bg-bg{background-image:url("https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/bel+bg.png");    background-position: 26% 13%;}
</style>
    <tbody>
        <tr>
            <td style="padding:50px 0;" >
               
               <table cellpadding="0" cellspacing="0" width="600" height="" border="0" align="center" style="background:#fff;">
			   
                    <tbody>
                        <tr valign="top">
                            <td>
								 
								<table cellpadding="0" width="100%" cellspacing="0" border="0" class="bg-bg" background="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/bel+bg.png">
                                    <tbody>
									<tr>
											
											<td width="600">
												<img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/Belrium+logo.png" width="" height="" alt="" style="display:block; padding-top:30px;width:100px;margin-left:470px" />
											</td>
                                        </tr>
                                        <tr>
											<td width="600" style="text-align:center;">
												<img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/Account+Created.png" width="" height="" alt="" style="display:block; border:0;padding-top:20px;margin:auto;width:110px;" />
												<h3 style="font-weight:300; color: #fff;">CONGRATULATIONS!</h3>
												<h1 style="color:#f03a1c">Wallet Created</h1>
												
											</td>
                                        </tr>
                                    </tbody>
                                </table>
								<table cellpadding="0" width="100%" cellspacing="0" border="0" style="">
                                    <tbody>
                                        <tr>
											<td width="600" style="text-align:center;">
												<p style="color:#000;font-size:22px;color:#f03a1c;padding:0 10px ;">Your wallet has been successfully created on the Belrium Network.</p>
												
												<p class="info">We are delighted to provide you with your wallet information.<br />Please find the secret key to access your wallet account.</p>
												<table cellpadding="0" cellspacing="0" width="500" height="" border="0" align="center" style="background:#fff;margin-bottom: 30px;">
												   <tr style="background-color:#efefef">
												      <td width="600">
													  <h3 style="text-align:left; color:#000;padding: 8px;color:#f03a1c">
													  Wallet Address for <span th:text="${countryName}"></span></h3>
													  </td>
													  <td style="color:#000;text-align:left;padding:10px"><span th:text="${walletAddress}"></span></td>
												   </tr>
												   <tr style="background-color:#fafafa">
												   
												      <td width="600"> <h3 style="color:#000;text-align:left;padding:10px;color:#f03a1c">Wallet Passphrase for <span th:text="${countryName}"></span></h3></td>
												      <td style="color:#000;text-align:left;padding:10px"> <span th:text="${passphrase}"></span> </td>
												   </tr>
												   <tr style="background-color:#efefef">
												      <td width="600"> <h3 style="color:#000;text-align:left;padding:10px;color:#f03a1c">Secret Key</h3></td>
												      <td style="color:#000;text-align:left;padding:10px"><span th:text="${secretKey}"></span> </td>
												   </tr>
												   <tr>
												   <table cellpadding="0" width="100%" cellspacing="0" border="0">
												       <tr style="background-color:#fafafa">
													    <td width="600"><h4 style="color:#000;text-align:cnter;padding:10px;">All your files uploaded will be encrypted with the secret and stored on the belrium network. Once lost the secret cannot be retrieved.</h4>
														</td>
													  </tr>
													</table>
												
													</tr></table></td>
												   </tr>
												</tbody>
												  </table>
												 
												
												<p class="foot">if you need any assistance in setting up your account please contact us at <span style="color:#f03a1c"><a href="mailto:support@belrium.com" target="_blank" style="text-decoration:none; color: #f03a1c;">support@belrium.com</a></span></p>
												<table cellpadding="0" width="100%" cellspacing="0" border="0">
													<tbody>
														<tr style="background-color:#f03a1c;">
														<td style="font-size:14px;color: #fff; width: 70%; padding:15px;">Visit <a href="http://www.belrium.io" target="_blank" style="text-decoration:none; color: #fff;">www.belrium.com</a> | Contact Us | Privacy Policy</td>
															<td width="250"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p> </td>
															<td width="40"><a href="https://www.facebook.com/Belrium/" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/fb.png" width="26px" height="" alt="" style="display:block;margin:auto; border:0; padding-top:0px; padding-left:0px; " /> </a> </td>
															<td width="40">
																<a href="https://twitter.com/belrium?lang=en" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/twitter.png" width="26px" height="" alt="" style="display:block; border:0;margin:auto;padding-top:0px;padding-right:0px;" /></a>
															</td>
															<td width="40"><a href="https://www.linkedin.com/company/belrium/" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/in.png" width="26px" height="" alt="" style="display:block;margin:auto; border:0; padding-top:0px; padding-left:0px; " /> </a> </td>
															<td width="40">
																<a href="https://plus.google.com/111360736475704695109" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/belrium-static-content-prod/google-plus.png" width="26px" height="" alt="" style="display:block;border:0; margin:auto; padding-top:0px;padding-right:0px;" /></a>
															</td>
															<td width="250"><p style="margin:0; font-size:1px; line-height:1px;">&nbsp;</p> </td>
														</tr>
													</tbody>
												</table>
											</td>
                                        </tr>
                                    </tbody>
                                </table>
								
                            </td>
                        </tr>
                    </tbody>
					</table>
		</body>			
</html>


